* {
	border-radius: 5px ;
}

td{
    border-radius: 0px ;
    border : 1px solid black;
}

img{
	height : 100% ;
	width : 100% ;
}

.divInsert{
  position : relative ;
  float : left ;
 
}
input{
    margin : 10px ;
}
#divUpload {
  position : relative ;
  float : right ;
}
.divDel{
    position : relative ;
    clear : both;
}
