img {
  width : 100%;
  height : 100% ;
}
/* tr{
    height : 100px;
} */
td{
     border-radius: 0px ;
    border : 1px solid black;
}
#insert{
  position : relative ;
  float : left ;
}
input{
    margin : 10px ;
}
#upload {
  position : relative ;
  float : right ;
}
#del{
    clear : both;
}
